* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.25rem;
  background-color: hsl(0deg, 0%, 40%);
  line-height: 1.5;
}

main {
  border-top: 8px solid hsl(0deg, 0%, 60%);
}

strong {
  color: hsl(160deg, 100%, 30%);
}

header,
.card {
  background-color: hsl(0deg, 0%, 100%);
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.intro-chunk,
.card {
  padding-inline: 24px;
}

.intro-chunk {
  padding-block: 96px 64px;
  max-width: 463px;
}

p {
  padding-block-start: 16px;
}

.intro-chunk p {
  margin: 0;
}

.card p {
  margin-block: 0;
}

.title {
  font-size: 2rem;
  font-weight: 800;
  padding-block-end: 32px;
  margin-block-end: 0;
}

.card {
  max-width: 800px;
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
  margin-block-start: 64px;
  padding-block: 8px 24px;
}

.indented-heading {
  max-width: 398px;
  font-size: 1.5rem;
  line-height: 1.2;
  background-color: hsl(45deg, 100%, 50%);
  margin-inline-start: -32px;
  margin-block: 0;
  padding-inline-start: 32px;
  padding-block: 16px;
  border-block-end: 8px solid hsl(45deg, 100%, 40%);
}